/** CSS STYLE **/
:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-light: rgba(245, 244, 240, 1);
  --color-dark-50: rgba(144, 141, 139, 1);
  --color-dark: rgba(42, 38, 38, 1);
  --color-primary: rgba(254, 138, 2, 1);
  --color-primary-dark: rgba(66, 65, 60, 1);
  --color-brown: rgba(176, 154, 129, 1);
  --color-white-50: rgba(215, 204, 192, 1);
}

body,
html {
  margin: 0;
}

body {
  font-family: "Open Sans";
  line-height: 1.6em;
  color: #2a2626;
}

h1,
h2,
h3 {
  font-family: "Neucha";
  line-height: 1.2em;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  position: relative;
  padding: 100px 0;
  max-width: 1110px;
  margin: 0 auto;
}

/*  */

.brand-background {
  position: relative;
}

.brand-background::before {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/img/background.png");
  background-color: var(--color-white-50);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.1;
}

/*  */

.text-primary {
  color: var(--color-primary);
}

/*  */

header img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
  z-index: 10;
}

header h1 {
  position: relative;
  z-index: 20;
}

/* magic */
header h1 {
  margin-top: 7px;
}
