/** CSS STYLE **/
:root {
  --color-white: rgb(255 255 255 / 100%);
  --color-light: rgb(245 244 240 / 100%);
  --color-dark-50: rgb(144 141 139 / 100%);
  --color-dark: rgb(42 38 38 / 100%);
  --color-primary: rgb(254 138 2 / 100%);
  --color-primary-dark: rgb(66 65 60 / 100%);
  --color-brown: rgb(176 154 129 / 100%);
  --color-white-50: rgb(215 204 192 / 100%);
}

body,
html {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
  color: #2a2626;
}

h1,
h2,
h3 {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  position: relative;
  padding: 100px 0;
  max-width: 1110px;
  margin: 0 auto;
}

.brand-background {
  position: relative;
}

.brand-background::before {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/img/background.png");
  background-color: var(--color-white-50);
  position: absolute;
  inset: 0;
  opacity: 0.1;
}

.text-primary {
  color: var(--color-primary);
}

header img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
  z-index: 10;
}

header h1 {
  position: relative;
  z-index: 20;
}
